 /* ================== RESPONSIVE ================== */
/* == MENU ITEMS ==  */
@media screen and (max-width: 1301px) {
	.sailing {
	  display: none;
	}
	}
	@media screen and (max-width: 1281px) {
	.fishing {
	  display: none;
	}
	}
	@media screen and (max-width: 1050px) {
	.seating {
	  display: none;
	}
	}
	@media screen and (max-width: 1025px) {
	.covers {
	  display: none;
	}
	}
	@media screen and (max-width: 800px) {
	.outboards {
	  display: none;
	}
	}
	@media screen and (max-width: 550px) {
	.bimini, .ttops {
	  display: none;
	}
	.hidden-menu {
	  display: block!important;
	}
	.visible-menu {
	  display: none!important;
	}
	.hoverable > a:after {
	  display: none;
	}
	.mega-products::before {
	  left: 50%;
	}
	}
	/* == GALLERY ==  */
	@media screen and (max-width: 400px) {
	#rl_pf {
	  margin: 10px;
	  padding: 0;
	}
	.open-item .pf_content {
	  background: white;
	  opacity: 1;
	}
	.open-item h2,
	.open-item h3,
	.open-item .pf_viewmore {
	  opacity: 1;
	  color: black;
	  transform: translateY(0px);
	}
	.pf_viewmore {
	  display: none!important;
	}
	.item .pf_content {
	  height: fit-content;
	  top: unset;
	  bottom: 0;
	}
	.pf_content h2 {
	  letter-spacing: 4px;
	  margin: 8px;
	}
	.pf_content h3 {
	  display: none;
	}
	}
	@media screen and (min-width: 401px) and (max-width: 800px) {
	.open-item .pf_content {
	  background: white;
	  opacity: 1;
	}
	.open-item h2,
	.open-item h3,
	.open-item .pf_viewmore {
	  opacity: 1;
	  color: black;
	  transform: translateY(0px);
	}
	.pf_viewmore {
	  display: none!important;
	}
	.item .pf_content {
	  height: fit-content;
	  top: unset;
	  bottom: 0;
	}
	.pf_content h2 {
	  letter-spacing: 4px;
	  margin: 8px;
	}
	.pf_content h3 {
	  display: none;
	}
	}
	@media screen and (max-width: 1383px) {
	.product-item li {
	  margin: 20px 50px;
	}
	}
	@media screen and (min-width: 640px) {
	.container {
	  max-width: 640px;
	}
	.nav-bar > div {
	  justify-content: space-between;
	}
	.footer-list {
	  margin-right: 20px;
	}
	.footer-info-right {
	  margin-left: 20px;
	}
	}
	@media screen and (min-width: 700px) {
	.header-l {
	  display: block;
	}
	.header-m {
	  display: none;;
	}
	.related-title {
	  padding: 30px;
	}
	}
	@media screen and (min-width: 760px) {
	.container {
	  max-width: 768px;
	}
	.subscribe-bar {
	  justify-content: flex-end;
	}
	.features {
	  flex-direction: row;
	}
	.footer-list {
	  padding: 20px;
	}
	.copyright {
	  margin-top: 64px;
	}
	}
	@media screen and (min-width: 200px) {
	.about {
		background: url("../img/fecond-vitro.jpg") no-repeat top center;
	  margin: 10px auto;
	}
	}
	@media screen and (min-width: 1024px) {
	.container {
	  max-width: 1024px;
	}
	}
	@media screen and (min-width: 1100px) {
	.container {
	  max-width: 1280px;
	}
	.features > div {
	  margin: 30px 50px;
	}
	}
	@media screen and (min-width: 1200px) {
	.about-box {
	  margin: 30px;
	}
	}
	@media screen and (max-width: 565px) {
	.about-box {
	  padding: 10px 0;
	  margin: 15px;
	}
	.about-image {
	  display: none;
	}
	.about-title {
	  font-size: 18px;
	}
	.about-text {
	  font-size: 14px;
	  text-align: center;
	}
	}
	/*----------button back to top------------- */
	/*ebay corrections*/
	.stBadge {
		min-width: auto!important;
	}
	.stBadge img {
	  display:none;
	}
	@media(max-width: 992px) {
		#back-to-top-btn { 
		  font-size: 22px; 
		  width: 40px; 
		  height: 40px; 
		  bottom: 15px; 
		  right: 15px; 
		}
	  }
	  @media(max-width:768px) {
		#back-to-top-btn { 
		  font-size: 18px; 
		  width: 32px; 
		  height: 32px; 
		  bottom: 6px; 
		  right: 6px; 
		}
	  }
/*-------------mon footer----------------- */
@media (max-width: 880px) {
	.footer-distributed{
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

